{
  "endOfLine": "auto",
  "printWidth": 100,
  "htmlWhitespaceSensitivity": "ignore",
  "tabWidth": 2,
  "tabs": true,
  "semi": false,
  "singleQuote": true,
  "quoteProps": "as-needed",
  "trailingComma": "none",
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "arrowParens": "always"
}
